.mainDiv
{
	height: 100vh;
	background-color: #036fc5;
	display: flex;
    flex-direction: column;
    align-items: center;

}
.borderRadius
{
	border-radius: 15px;
}
.plusIcon
 {
    font-size: 28px;
    color: #267fc5;
}